.btn {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.btn-default {

	.no-touchevents &:hover {

	}
}

.btn-primary {

	.no-touchevents &:hover {

	}

}
