// colors
$base-color: ;
$base-bg: ;

// fonts
$font-default: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-primary: Verdana,Geneva,sans-serif;


// custom grid
$table-screen: 1023px;
$mobile-screen: 767px;
